@import '../utils.scss';

.home-page-content-left {
  width: 50%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 96px 96px 96px 0;

  @include breakpoint(desktop) {
    width: 65%;
  }

  @include breakpoint(tablet) {
    width: 100%;
    padding: 0px 24px;
  }

  @include breakpoint(mobile) {
    width: 100%;
    padding: 96px 24px;
  }


  .sub-section-container {
    display: flex;
    flex-direction: column;
  }

  .about-section {
    color: $color-text-secondary;
    display: inline-block;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    width: 90%;

    b {
      font-size: 14px;
      color: $color-text-primary;
      margin-bottom: 8px;

      svg {
        margin-right: 8px;
      }
    }
  }

  h1 {
    color: $color-text-secondary;

    @include breakpoint(tablet) {
      font-size: 24px;
    }

    @include breakpoint(mobile) {
      font-size: 24px;
    }
  }

  .experiences-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;

    @include breakpoint(tablet) {
      margin-top: 0;
    }

    @include breakpoint(mobile) {
      margin-top: 0;
    }
  }

  .credits {
    margin-top: 24px;
    font-size: 12px;
    color: $color-text-secondary;
  }

  #experiences {

    @include breakpoint(tablet) {
      margin-top: 64px;

      .experience-item:first-of-type {
        margin-top: 0;
      }
    }

    @include breakpoint(mobile) {
      margin-top: 64px;
    }
  }
}